<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:name=".WeatherApplication"
    android:icon="@mipmap/ic_launcher"

    android:label="@string/app_name"
    android:usesCleartextTraffic="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Weather">
    <uses-library android:name="com.google.android.maps" android:required="false" />

    <activity
        android:name=".MainActivity"
        android:exported="true"

        android:label="@string/app_name"
        android:theme="@style/Theme.Weather">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <receiver
        android:name=".presentation.alerts.view.service.AlarmReceiver"
        android:enabled="true"
        android:exported="false" />
    <service
        android:name=".presentation.alerts.view.service.AlarmService"
        android:foregroundServiceType="specialUse"
        android:exported="false"
        tools:targetApi="34"> <property
        android:name="android.app.PROPERTY_SPECIAL_USE_DESCRIPTION"
        android:value="This service plays an audio alarm to notify the user about critical weather changes." />
    </service>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCqeECrVFRR9jRjvDbCndIisz_lya7Mar8" />
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
        <meta-data
            android:name="androidx.work.WorkManagerInitializer"
            android:value="androidx.startup"
            tools:node="remove" />
    </provider>

</application>

</manifest>